<div class="container">
    <div class="component-header"></div>
    <div class="h1 text-white-gray" contenteditable>Hi, I am</div>

    <div class="text-center">
        <div class="my-name">Zhiyuan Liu</div>
        <div class="text-shadow">Zhiyuan Liu</div>
        <div class="shadow-overlay"></div>
    </div>
    
    <div class="h1 text-white-gray text-end text-welcome">Welcome to my website.</div>

    <!-- Current Status -->
    <div class="card my-status-card mb-3" style="max-width: 900px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/logos/usc_shield.png" class="img-fluid current-logo"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h2 class="card-title text-white">Currently a master USC student</h2>
                <h5 class="card-text text-white">My major is Computer Science.</h5>
                <h5 class="card-text text-white">I study Web Technologies, Algorithms, AI, Machine Learning, Database Systems.</h5>
                <h5 class="card-text text-white">My personal interests are video games, and self-taught game based scripting, coding, 3D-modeling, and level design.</h5>
                <h5 class="card-text text-white">I enjoy using the knowledge that I learned to build personal projects and bring fun experience to others.</h5>
                <p class="card-text"><small class="text-muted">Estimated graduation date: May 2023</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="education-container">
        <div class="about-heading h1 text-white">Education</div>
        <div class="row education-btn-row">
            <div class="col">
                <div class="container text-center">
                    <div class="education-btn-out">
                        <button class="btn btn-light education-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEducationUsc" aria-expanded="true" aria-controls="collapseEducationUsc">
                            <img src="../../assets/logos/usc_logo.png" class="img-fluid">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center">
                    <div class="education-btn-out">
                        <button class="btn btn-light education-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEducationUconn" aria-expanded="true" aria-controls="collapseEducationUconn">
                            <img src="../../assets/logos/uconn_logo.png" class="img-fluid">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row education-detail-row">
            <div class="col">
                <div class="collapse" id="collapseEducationUsc">
                    <div id="carouselUSCControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">General Information</h5>
                                    <div class="row">
                                        <div class="col">Degree</div>
                                        <div class="col text-end">Master</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Year</div>
                                        <div class="col text-end">2021-2023</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Major</div>
                                        <div class="col text-end">Computer Science</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Minor</div>
                                        <div class="col text-end">N/A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">GPA</div>
                                        <div class="col text-end">3.95</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Core Classes</h5>
                                    <div class="row">
                                        <div class="col col-md-auto">Analysis of Algorithms</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Applied NLP</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Database Systems</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Foundations of AI</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">IR and Web Search Engines</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Core Classes</h5>
                                    <div class="row">
                                        <div class="col">Web Technologies</div>
                                        <div class="col text-end">A-</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Data Mining</div>
                                        <div class="col text-end">On Going...</div>
                                    </div>
                                    <div class="row hidden-with-space">
                                        HIDDEN
                                    </div>
                                    <div class="row hidden-with-space">
                                        HIDDEN
                                    </div>
                                    <div class="row hidden-with-space">
                                        HIDDEN
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselUSCControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselUSCControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse" id="collapseEducationUconn">
                    <div id="carouselUconnControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">General Information</h5>
                                    <div class="row">
                                        <div class="col">Degree:</div>
                                        <div class="col text-end">Bachelor</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Year:</div>
                                        <div class="col text-end">2017-2021</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Major:</div>
                                        <div class="col text-end">Computer Science</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Minor:</div>
                                        <div class="col text-end">Mathematics</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">GPA:</div>
                                        <div class="col text-end">3.77</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Core Classes Computer Science</h5>
                                    <div class="row">
                                        <div class="col col-md-auto">Data Struc and Obj-Orient Des</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Introduction to Discrete Syste</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Systems Programming</div>
                                        <div class="col text-end">A-</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Algorithms and Complexity</div>
                                        <div class="col text-end">A-</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Intro to Computer Architecture</div>
                                        <div class="col text-end">A-</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Core Classes Computer Science</h5>
                                    <div class="row">
                                        <div class="col col-md-auto">Digital Logic Design</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Computer Networks and Data</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Machine Learning</div>
                                        <div class="col text-end">B+</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Big Data Analytics</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Artificial Intelligence</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Core Classes Mathematics</h5>
                                    <div class="row">
                                        <div class="col col-md-auto">Calculus I</div>
                                        <div class="col text-end">A-</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Calculus II</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Multivariable Calculus</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Applied Linear Algebra</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Statistical Methods</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Core Classes Mathematics</h5>
                                    <div class="row">
                                        <div class="col col-md-auto">Elem Differential Equations</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Probability</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-auto">Elem Stochastic Proc</div>
                                        <div class="col text-end">A</div>
                                    </div>
                                    <div class="row hidden-with-space">
                                        HIDDEN
                                    </div>
                                    <div class="row hidden-with-space">
                                        HIDDEN
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselUconnControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselUconnControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-container">
        <div class="about-heading h1 text-white">Experience</div>
        <div class="row education-btn-row">
            <div class="col">
                <div class="education-btn-out">
                    <button class="btn btn-light education-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExperienceTG" aria-expanded="true" aria-controls="collapseExperienceTG">
                        <img src="../../assets/logos/tg_logo.png" class="img-fluid">
                    </button>
                </div>
            </div>
        </div>
        <div class="row education-detail-row">
            <div class="col">
                <div class="collapse" id="collapseExperienceTG">
                    <div id="carouselTGControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">General Information</h5>
                                    <div class="row">
                                        <div class="col">Type</div>
                                        <div class="col text-end">Internship</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Title</div>
                                        <div class="col col-md-auto text-end">Development Advocate Intern</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Time</div>
                                        <div class="col text-end">May - Aug 2022</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Location</div>
                                        <div class="col text-end">Remote</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">Team</div>
                                        <div class="col col-md-auto text-end">Development Advocate Team</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Accomplishments</h5>
                                    <div class="row">
                                        <div class="col col-md-auto">
                                            <a href="https://github.com/TigerGraph-DevLabs/TG-Cosmos-Dashboard" class="text-white" target="_blank">TG Cosmos Dashboard</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">A graph database visualization web app</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">Visualize over 100k vertex and edge data</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">Connect to TG database with FastAPI</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">Make fontend with React and AntD</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Accomplishments</h5>
                                    <div class="row">
                                        <div class="col col-md-auto">
                                            <a href="https://colab.research.google.com/drive/1teXV9tTcFKhA_vWoYc1oUFCSheBqnQTT?usp=sharing" class="text-white" target="_blank">PyTigergraph Handbook</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">A handbook for pyTigergraph Library</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">Comprehensive and beginner-friendly</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">Example for every functionality</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">Details and tips for advance useage</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-light card-transparent text-white card-body card-edu-detail">
                                    <h5 class="card-title">Accomplishments</h5>
                                    <div class="row">
                                        <div class="col">Airbnb Project</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">A web app to showcase new features</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">NLP to generate Airbnb listing description</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end">Highlight keywords with LSTM for hoster</div>
                                    </div>
                                    <div class="row hidden-with-space">
                                        HIDDEN
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTGControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTGControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="social-media-container">
        <div class="about-heading h1 text-white">Connect me</div>
        <div class="container text-center">
            <a href="https://www.linkedin.com/in/zhiyuan-liu-940653203/" target="_blank" class="btn btn-social btn-light" type="button">
                <img src="../../assets/logos/linkedin_logo.svg" class="social-img">
            </a>
        </div>
    </div>
</div>
