<div class="container">
    <div class="component-header"></div>
    <div class="h1 text-white-gray">Hi, I am</div>
    <div class="text-center">
        <div class="my-name text-white">Zhiyuan Liu</div>
    </div>
    <div class="h1 text-white-gray text-end">Welcome to my website.</div>

    <!-- Current Status -->
    <div class="card my-status-card mb-3" style="max-width: 900px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/USC_Shield.png" class="img-fluid current-logo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h2 class="card-title text-white">Currently a master USC student</h2>
                <h5 class="card-text text-white">My major is Computer Science.</h5>
                <h5 class="card-text text-white">I study Web Technologies, Algorithms, AI, Machine Learning, Database Systems.</h5>
                <h5 class="card-text text-white">My personal interests are video games, and self-taught game based scripting, coding, 3D-modeling, and level design.</h5>
                <h5 class="card-text text-white">I enjoy use the knowledge that I learned to build personal projects and bring fun experience to others.</h5>
                <p class="card-text"><small class="text-muted">Estimated graduation date: May 2023</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
